<div class="row banner">
    <div class="col-md-6 text_tips">
        <img class="text-logo img-responsive" src="~/img/oa.png" />
    </div>
    <div class="col-md-6 text-title" style="vertical-align:middle">
        <p>欢迎您，今天是 @DateTime.Today.ToString("yyyy年M月d日 dddd")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-danger">
        @*@Html.PartialUserPanelPlan()*@
    </div>
    <div class="col-md-4 text-primary">
        @*@Html.PartialUserPanelTasks()*@
    </div>
    <div class="col-md-4 text-success">
       @* @Html.PartialUserPanelPm()*@
    </div>
</div> 