
/*.form-control.text-box, .form-control { background-color: #FFFFDD; }*/
/*.form-control.text-box { border-style: none; border-bottom: 1px solid #000; }*/
/*.form-horizontal .control-label { text-align: center; }*/

/*.field-group { border-bottom: 1px solid #ccc; }*/
/*.form-group { margin-bottom: auto; margin-right: auto; }*/

/*td:hover, th:hover { color: #222; }*/
/*.table-kd { color: #133f8b; }*/
 
 